@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Primary color */
:root {
  --white: #fff;
  --red: #ac1c2c;
  --borderG: #9f9faa;
}
.zoom_in {
  overflow: hidden;
}
.zoom_in img {
  transition: all 0.5s ease-in;
}
.zoom_in:hover img {
  transform: scale(1.3);
}
.bullet-img {
  width: 18px;
  height: 18px;
}
.line {
  height: 1px;
  width: 60%;
  background-color: black;
}
.center_card {
  height: 175px;
}
.center_card:hover {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
}
.center_card img {
  width: 100%;
  height: 100%;
}
.overley {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}
.active {
  color: var(--red);
}
/* padding for top when nav bar is fixed */
.pt_adjustment {
  margin-top: 140px;
}
@media screen and (min-width: 768px) {
  .active {
    color: var(--white);
    background-color: var(--red);
  }
  .pt_adjustment {
    margin-top: 0px;
  }
}
/* default_buttons */

.button2 {
  border: 1px solid var(--red);
  border-radius: 4px;
  color: black;
}
.button2:hover {
  background-color: var(--red);
  color: var(--white);
}
.red {
  color: var(--red);
  font-weight: bold;
}
